<block-ui>
<div class="container-fluid">
  <app-pagetitle title="User Details" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>


  <div class="row" *ngIf="(!isAddMode && !isExisting ) || (isExisting && isAddMode) ">

    <div class="col-lg-12"  >
      <div class="card">
        <div class="card-body">

          <div  >
            <!--  -->
            <button  type="button" class="btn btn-success mb-2"  (click)="initAddUser()" >

           <!-- <a href="javascript:void(0);" class="btn btn-success mb-2" (click)="addUser()">-->
              <i class="mdi mdi-plus mr-2"></i> Add User
            </button>
          </div>
          <div class="table-responsive mt-3"  >
            <table class="table table-centered datatable dt-responsive nowrap"
              style="border-collapse: collapse; border-spacing: 0; width: 100%;">
              <thead class="thead-light">
                <tr>
               <!--   <th style="width: 20px;">
                &lt;!&ndash;    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customercheck" />
                      <label class="custom-control-label" for="customercheck">&nbsp;</label>
                    </div>&ndash;&gt;
                  </th>-->
                  <th>Username</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>National ID</th>
                  <th>Address</th>
                  <th>Status</th>

                  <th >Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users1; let i= index">
             <!--     <td>
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" :id="customercheck{{i}}" />
                      <label class="custom-control-label" :for="customercheck{{i}}">&nbsp;</label>
                    </div>
                  </td>-->

                  <td>{{user.userName}}</td>
                  <td>{{user.firstname}}</td>
                  <td>{{user.lastname}}</td>
                  <td>{{user.userEmail}}</td>
                  <td>{{user.userPhone}}</td>
                  <td>{{user.userNationalId}}</td>
                  <td>{{user.address}}</td>
                  <td>
                    <div class="badge font-size-12" [ngClass]="{'badge-soft-danger': user.approved === 'Pending Approval',
                    'badge-soft-success':user.approved === 'Approved'}">
                      <ngb-highlight [result]="user.approved"></ngb-highlight>
                    </div>
                    <!-- {{item.approved}}-->
                  </td>

                  <td class="text-left">
                    <button
                      type="button"
                      class="close btn-rounded btn-light btn-lg  btn-outline-primary"
                      aria-label="Close"
                      (click)="initEditUser(user)"
                      title="Edit user"><i class="ri-quill-pen-line"></i>
                    </button>



                 <!--   <a href="javascript:void(0);" class="text-danger" v-b-tooltip.hover title="Delete">
                      <i class="mdi mdi-trash-can font-size-18"></i>
                    </a>-->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contacts model  -->
<!--<ng-template #content role="document" let-modal="close"  *ngIf="!isAddMode " >-->
  <div class="modal-header"  >


    <button type="button" class="close" aria-label="Close" ><!--(click)="modal('Cross click')"-->

      <!--<span aria-hidden="true">&times;</span>-->
    </button>
  </div>

  <div class="modal-body p-3" *ngIf="(!isAddMode && isExisting)|| (!isExisting && isAddMode)"  >
    <div class="text-left" >

      <form  [formGroup]="userForm">


        <div class="form-group row">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" id="firstname" placeholder="Enter User first name" formControlName="firstname"
     >
     <!-- [ngClass]="{'is-invalid': submitted && form.userFullName.errors}">
          <div *ngIf="submitted && form.userFullName.errors" class="invalid-feedback">
            <span *ngIf="form.userFullName.errors.required">Name is mandatory.</span>
          </div>-->
        </div>
        <div class="form-group row">
          <label for="secondname">Second name</label>
          <input type="text" class="form-control" id="secondname" placeholder="Enter User second name" formControlName="secondname"
          >
          <!-- [ngClass]="{'is-invalid': submitted && form.userFullName.errors}">
               <div *ngIf="submitted && form.userFullName.errors" class="invalid-feedback">
                 <span *ngIf="form.userFullName.errors.required">Name is mandatory.</span>
               </div>-->
        </div>
        <div class="form-group row">
          <label for="lastname">Last name</label>
          <input type="text" class="form-control" id="lastname" placeholder="Enter User last name" formControlName="lastname"
          >
          <!-- [ngClass]="{'is-invalid': submitted && form.userFullName.errors}">
               <div *ngIf="submitted && form.userFullName.errors" class="invalid-feedback">
                 <span *ngIf="form.userFullName.errors.required">Name is mandatory.</span>
               </div>-->
        </div>
        <div class="form-group row">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="Enter User address" formControlName="address"
          >
          <!-- [ngClass]="{'is-invalid': submitted && form.userFullName.errors}">
               <div *ngIf="submitted && form.userFullName.errors" class="invalid-feedback">
                 <span *ngIf="form.userFullName.errors.required">Name is mandatory.</span>
               </div>-->
        </div>

        <div class="form-group row">
          <label for="email">Email address</label>
          <input class="form-control" id="email" placeholder="Enter email" formControlName="userEmail"
>
         <!-- [ngClass]="{'is-invalid': submitted && form.email.errors}">
          <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
            <span *ngIf="form.email.errors.required">Email address is mandatory.</span>
            <span *ngIf="form.email.errors.pattern">Please enter valid email.</span>
          </div>-->
        </div>

        <div class="form-group row">
          <label>Phone </label>
          <input type="number" class="form-control" placeholder="Enter phone number" formControlName="userPhone"
             >
       <!--[ngClass]="{'is-invalid': submitted && form.userPhone.errors}" minlength="10">
          <div *ngIf="submitted && form.userPhone.errors" class="invalid-feedback">
            <span *ngIf="form.userPhone.errors.required">Phone is mandatory.</span>
            <span *ngIf="form.userPhone.errors.minlength">Phone number must be 10 characters.</span>
          </div>-->
        </div>

        <div class="form-group row">
          <label>National Id Number </label>
          <input type="number" class="form-control" placeholder="Enter Id Number" formControlName="userNationalId"
               >
        <!-- [ngClass]="{'is-invalid': submitted && form.userNationalId.errors}">
          <div *ngIf="submitted && form.userNationalId.errors" class="invalid-feedback">
            <span *ngIf="form.userNationalId.errors.required">userNationalId is mandatory.</span>
          </div>-->
        </div>



        <div class="col-md-18">
          <div class="form-group">
            <label class="control-label">User Type</label>
            <ng-select  [items]="usersGroupType1"
                        bindLabel="name"
                        bindValue="id"
                        formControlName="userGroupTypeId">
            </ng-select>
          </div>
        </div>

        <div class="col-md-18"  >
          <div class="form-group">
            <label class="control-label">User Group</label>
            <ng-select  [items]="userGroups"
                        bindLabel="groupName"
                        bindValue="id"
                        formControlName="groupId">
            </ng-select>
          </div>
        </div>

        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="active"  formControlName="active"/>
          <label class="custom-control-label" for="active">Active</label>
        </div>

      <!--  <div class="form-group row">
          <label>Date </label>
          <input class="form-control" placeholder="Enter date" formControlName="date"
            [ngClass]="{'is-invalid': submitted && form.date.errors}">
          <div *ngIf="submitted && form.date.errors" class="invalid-feedback">
            <span *ngIf="form.date.errors.required">Date is mandatory.</span>
          </div>
        </div>-->

        <div class="text-right">
          <button type="submit" *ngIf="!isExisting && isAddMode"  (click) ="saveData()" class="btn btn-success">Save</button>
          <button type="submit" *ngIf="!isAddMode && isExisting" (click) ="updateUser()" class="btn btn-success">Update</button>
          <button type="button" class="btn btn-danger ml-1"(click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>



<!--</ng-template>-->
</block-ui>
