<div class="container-fluid">
  <app-pagetitle [breadcrumbItems]="breadCrumbItems" title="Dashboard"></app-pagetitle>

  <div class="row">
    <div class="col-xl-12">
      <div class="row">
        <div *ngFor="let stat of statData" class="col-md-3">
          <app-stat [icon]="stat.icon" [title]="stat.title" [value]="stat.value"></app-stat>
        </div>
      </div>
      <!-- end row -->

      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <div class="float-right d-none d-md-inline-block">
                <div class="btn-group mb-2">
                  <button class="btn btn-sm btn-light" type="button">Today</button>
                  <button class="btn btn-sm btn-light active" type="button">Weekly</button>
                  <button class="btn btn-sm btn-light" type="button">Monthly</button>
                </div>
              </div>
              <h4 class="card-title mb-4">Revenue Analytics</h4>
              <div>
                <apx-chart [chart]="revenueChart.chart" [colors]="revenueChart.colors" [labels]="revenueChart.labels"
                           [legend]="revenueChart.legend"
                           [plotOptions]="revenueChart.plotOptions" [series]="revenueChart.series"
                           [stroke]="revenueChart.stroke"
                           class="apex-charts" dir="ltr">
                </apx-chart>
              </div>
            </div>

<!--            <div class="card-body border-top text-center">-->
<!--              <div class="row">-->
<!--                <div class="col-sm-4">-->
<!--                  <div class="d-inline-flex">-->
<!--                    <h5 class="mr-2">KES 12,253</h5>-->
<!--                    <div class="text-success">-->
<!--                      <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <p class="text-muted text-truncate mb-0">This month</p>-->
<!--                </div>-->

<!--                <div class="col-sm-4">-->
<!--                  <div class="mt-4 mt-sm-0">-->
<!--                    <p class="mb-2 text-muted text-truncate"><i-->
<!--                      class="mdi mdi-circle text-primary font-size-10 mr-1"></i>-->
<!--                      This Year :</p>-->
<!--                    <div class="d-inline-flex">-->
<!--                      <h5 class="mb-0 mr-2">KES 34,254</h5>-->
<!--                      <div class="text-success">-->
<!--                        <i class="mdi mdi-menu-up font-size-14"> </i>2.1 %-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="col-sm-4">-->
<!--                  <div class="mt-4 mt-sm-0">-->
<!--                    <p class="mb-2 text-muted text-truncate"><i-->
<!--                      class="mdi mdi-circle text-success font-size-10 mr-1"></i>-->
<!--                      Previous Year :</p>-->
<!--                    <div class="d-inline-flex">-->
<!--                      <h5 class="mb-0">KES 32,695</h5>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="float-right">
                <select class="custom-select custom-select-sm">
                  <option selected>Apr</option>
                  <option value="1">Mar</option>
                  <option value="2">Feb</option>
                  <option value="3">Jan</option>
                </select>
              </div>
              <h4 class="card-title mb-4">ServiceWise Collection</h4>

              <apx-chart [chart]="salesAnalytics.chart" [colors]="salesAnalytics.colors"
                         [dataLabels]="salesAnalytics.dataLabels" [labels]="revenueChart.labels"
                         [legend]="salesAnalytics.legend" [plotOptions]="salesAnalytics.plotOptions"
                         [series]="salesAnalytics.series"
                         class="apex-charts" dir="ltr">
              </apx-chart>
              <div class="row">
                <div class="col-4">
                  <div class="text-center mt-4">
                    <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-primary font-size-10 mr-1"></i> SBP
                      Collections
                    </p>
                    <h5>42 %</h5>
                  </div>
                </div>
                <div class="col-4">
                  <div class="text-center mt-4">
                    <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-success font-size-10 mr-1"></i> Land
                      Rates
                    </p>
                    <h5>26 %</h5>
                  </div>
                </div>
                <div class="col-4">
                  <div class="text-center mt-4">
                    <p class="mb-2 text-truncate"><i class="mdi mdi-circle text-warning font-size-10 mr-1"></i> Parking
                      Fees
                    </p>
                    <h5>42 %</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- end row -->

<!--      <div class="row">-->
<!--        <div class="col-lg-4">-->
<!--          <div class="card">-->
<!--            <div class="card-body">-->
<!--              <div class="dropdown float-right" ngbDropdown>-->
<!--                <a aria-expanded="false" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"-->
<!--                   href="javascript: void(0);" ngbDropdownToggle>-->
<!--                  <i class="mdi mdi-dots-vertical"></i>-->
<!--                </a>-->
<!--                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>-->
<!--                  &lt;!&ndash; item&ndash;&gt;-->
<!--                  <a class="dropdown-item" href="javascript:void(0);">Sales Report</a>-->
<!--                  &lt;!&ndash; item&ndash;&gt;-->
<!--                  <a class="dropdown-item" href="javascript:void(0);">Export Report</a>-->
<!--                  &lt;!&ndash; item&ndash;&gt;-->
<!--                  <a class="dropdown-item" href="javascript:void(0);">Profit</a>-->
<!--                  &lt;!&ndash; item&ndash;&gt;-->
<!--                  <a class="dropdown-item" href="javascript:void(0);">Action</a>-->
<!--                </div>-->
<!--              </div>-->

<!--              <h4 class="card-title mb-3">Sources</h4>-->

<!--              <div>-->
<!--                <div class="text-center">-->
<!--                  <p class="mb-2">Total sources</p>-->
<!--                  <h4>KES 7652</h4>-->
<!--                  <div class="text-success">-->
<!--                    <i class="mdi mdi-menu-up font-size-14"> </i>2.2 %-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="table-responsive mt-4">-->
<!--                  <table class="table table-hover mb-0 table-centered table-nowrap">-->
<!--                    <tbody>-->
<!--                    <tr>-->
<!--                      <td style="width: 60px;">-->
<!--                        <div class="avatar-xs">-->
<!--                          <div class="avatar-title rounded-circle bg-light">-->
<!--                            <img alt="" height="20" src="assets/images/companies/img-1.png">-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </td>-->

<!--                      <td>-->
<!--                        <h5 class="font-size-14 mb-0">SBP Collections</h5>-->
<!--                      </td>-->
<!--                      <td>-->
<!--                        <div id="spak-chart1"></div>-->
<!--                      </td>-->
<!--                      <td>-->
<!--                        <p class="text-muted mb-0">KES 2478</p>-->
<!--                      </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>-->
<!--                        <div class="avatar-xs">-->
<!--                          <div class="avatar-title rounded-circle bg-light">-->
<!--                            <img alt="" height="20" src="assets/images/companies/img-2.png">-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </td>-->
<!--                      <td>-->
<!--                        <h5 class="font-size-14 mb-0">Land Rate Collections</h5>-->
<!--                      </td>-->

<!--                      <td>-->
<!--                        <div id="spak-chart2"></div>-->
<!--                      </td>-->
<!--                      <td>-->
<!--                        <p class="text-muted mb-0">KES 2625</p>-->
<!--                      </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>-->
<!--                        <div class="avatar-xs">-->
<!--                          <div class="avatar-title rounded-circle bg-light">-->
<!--                            <img alt="" height="20" src="assets/images/companies/img-3.png">-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </td>-->
<!--                      <td>-->
<!--                        <h5 class="font-size-14 mb-0">POS Collections</h5>-->
<!--                      </td>-->
<!--                      <td>-->
<!--                        <div id="spak-chart3"></div>-->
<!--                      </td>-->
<!--                      <td>-->
<!--                        <p class="text-muted mb-0">KES 2856</p>-->
<!--                      </td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                  </table>-->
<!--                </div>-->

<!--                <div class="text-center mt-4">-->
<!--                  <a class="btn btn-primary btn-sm" href="javascript: void(0);">View more</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4">-->
<!--          <div class="card">-->
<!--            <div class="card-body">-->
<!--              <div class="dropdown float-right" ngbDropdown>-->
<!--                <a aria-expanded="false" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"-->
<!--                   href="javascript: void(0);" ngbDropdownToggle>-->
<!--                  <i class="mdi mdi-dots-vertical"></i>-->
<!--                </a>-->
<!--                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>-->
<!--                  &lt;!&ndash; item&ndash;&gt;-->
<!--                  <a class="dropdown-item" href="javascript:void(0);">Sales Report</a>-->
<!--                  &lt;!&ndash; item&ndash;&gt;-->
<!--                  <a class="dropdown-item" href="javascript:void(0);">Export Report</a>-->
<!--                  &lt;!&ndash; item&ndash;&gt;-->
<!--                  <a class="dropdown-item" href="javascript:void(0);">Profit</a>-->
<!--                  &lt;!&ndash; item&ndash;&gt;-->
<!--                  <a class="dropdown-item" href="javascript:void(0);">Action</a>-->
<!--                </div>-->
<!--              </div>-->

<!--              <h4 class="card-title mb-4">Recent Activity Feed</h4>-->

<!--              <perfect-scrollbar style="height: 330px;">-->
<!--                <ul class="list-unstyled activity-wid">-->
<!--                  <li class="activity-list">-->
<!--                    <div class="activity-icon avatar-xs">-->
<!--                  <span class="avatar-title bg-soft-primary text-primary rounded-circle">-->
<!--                    <i class="ri-edit-2-fill"></i>-->
<!--                  </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <div>-->
<!--                        <h5 class="font-size-13">28 Apr, 2020 <small class="text-muted">12:07 am</small></h5>-->
<!--                      </div>-->

<!--                      <div>-->
<!--                        <p class="text-muted mb-0">Responded to need “Volunteer Activities”</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li class="activity-list">-->
<!--                    <div class="activity-icon avatar-xs">-->
<!--                  <span class="avatar-title bg-soft-primary text-primary rounded-circle">-->
<!--                    <i class="ri-user-2-fill"></i>-->
<!--                  </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <div>-->
<!--                        <h5 class="font-size-13">21 Apr, 2020 <small class="text-muted">08:01 pm</small></h5>-->
<!--                      </div>-->

<!--                      <div>-->
<!--                        <p class="text-muted mb-0">Added an interest “Volunteer Activities”</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li class="activity-list">-->
<!--                    <div class="activity-icon avatar-xs">-->
<!--                  <span class="avatar-title bg-soft-primary text-primary rounded-circle">-->
<!--                    <i class="ri-bar-chart-fill"></i>-->
<!--                  </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <div>-->
<!--                        <h5 class="font-size-13">17 Apr, 2020 <small class="text-muted">09:23 am</small></h5>-->
<!--                      </div>-->

<!--                      <div>-->
<!--                        <p class="text-muted mb-0">Joined the group “Boardsmanship Forum”</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li class="activity-list">-->
<!--                    <div class="activity-icon avatar-xs">-->
<!--                  <span class="avatar-title bg-soft-primary text-primary rounded-circle">-->
<!--                    <i class="ri-mail-fill"></i>-->
<!--                  </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <div>-->
<!--                        <h5 class="font-size-13">11 Apr, 2020 <small class="text-muted">05:10 pm</small></h5>-->
<!--                      </div>-->

<!--                      <div>-->
<!--                        <p class="text-muted mb-0">Responded to need “In-Kind Opportunity”</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li class="activity-list">-->
<!--                    <div class="activity-icon avatar-xs">-->
<!--                  <span class="avatar-title bg-soft-primary text-primary rounded-circle">-->
<!--                    <i class="ri-calendar-2-fill"></i>-->
<!--                  </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <div>-->
<!--                        <h5 class="font-size-13">07 Apr, 2020 <small class="text-muted">12:47 pm</small></h5>-->
<!--                      </div>-->

<!--                      <div>-->
<!--                        <p class="text-muted mb-0">Created need “Volunteer Activities”</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li class="activity-list">-->
<!--                    <div class="activity-icon avatar-xs">-->
<!--                  <span class="avatar-title bg-soft-primary text-primary rounded-circle">-->
<!--                    <i class="ri-edit-2-fill"></i>-->
<!--                  </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <div>-->
<!--                        <h5 class="font-size-13">05 Apr, 2020 <small class="text-muted">03:09 pm</small></h5>-->
<!--                      </div>-->

<!--                      <div>-->
<!--                        <p class="text-muted mb-0">Attending the event “Some New Event”</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li class="activity-list">-->
<!--                    <div class="activity-icon avatar-xs">-->
<!--                  <span class="avatar-title bg-soft-primary text-primary rounded-circle">-->
<!--                    <i class="ri-user-2-fill"></i>-->
<!--                  </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <div>-->
<!--                        <h5 class="font-size-13">02 Apr, 2020 <small class="text-muted">12:07 am</small></h5>-->
<!--                      </div>-->

<!--                      <div>-->
<!--                        <p class="text-muted mb-0">Responded to need “In-Kind Opportunity”</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </perfect-scrollbar>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-lg-4">-->
<!--          <div class="card">-->
<!--            <div class="card-body">-->
<!--              <div class="dropdown float-right" ngbDropdown>-->
<!--                <a aria-expanded="false" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown"-->
<!--                   href="javascript: void(0);" ngbDropdownToggle>-->
<!--                  <i class="mdi mdi-dots-vertical"></i>-->
<!--                </a>-->
<!--                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>-->
<!--                  &lt;!&ndash; item&ndash;&gt;-->
<!--                  <a class="dropdown-item" href="javascript:void(0);">Sales Report</a>-->
<!--                  &lt;!&ndash; item&ndash;&gt;-->
<!--                  <a class="dropdown-item" href="javascript:void(0);">Export Report</a>-->
<!--                  &lt;!&ndash; item&ndash;&gt;-->
<!--                  <a class="dropdown-item" href="javascript:void(0);">Profit</a>-->
<!--                  &lt;!&ndash; item&ndash;&gt;-->
<!--                  <a class="dropdown-item" href="javascript:void(0);">Action</a>-->
<!--                </div>-->
<!--              </div>-->

<!--              <h4 class="card-title mb-4">Recent Activity Feed</h4>-->

<!--              <perfect-scrollbar style="height: 330px;">-->
<!--                <ul class="list-unstyled activity-wid">-->
<!--                  <li class="activity-list">-->
<!--                    <div class="activity-icon avatar-xs">-->
<!--                  <span class="avatar-title bg-soft-primary text-primary rounded-circle">-->
<!--                    <i class="ri-edit-2-fill"></i>-->
<!--                  </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <div>-->
<!--                        <h5 class="font-size-13">28 Apr, 2020 <small class="text-muted">12:07 am</small></h5>-->
<!--                      </div>-->

<!--                      <div>-->
<!--                        <p class="text-muted mb-0">Responded to need “Volunteer Activities”</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li class="activity-list">-->
<!--                    <div class="activity-icon avatar-xs">-->
<!--                  <span class="avatar-title bg-soft-primary text-primary rounded-circle">-->
<!--                    <i class="ri-user-2-fill"></i>-->
<!--                  </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <div>-->
<!--                        <h5 class="font-size-13">21 Apr, 2020 <small class="text-muted">08:01 pm</small></h5>-->
<!--                      </div>-->

<!--                      <div>-->
<!--                        <p class="text-muted mb-0">Added an interest “Volunteer Activities”</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li class="activity-list">-->
<!--                    <div class="activity-icon avatar-xs">-->
<!--                  <span class="avatar-title bg-soft-primary text-primary rounded-circle">-->
<!--                    <i class="ri-bar-chart-fill"></i>-->
<!--                  </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <div>-->
<!--                        <h5 class="font-size-13">17 Apr, 2020 <small class="text-muted">09:23 am</small></h5>-->
<!--                      </div>-->

<!--                      <div>-->
<!--                        <p class="text-muted mb-0">Joined the group “Boardsmanship Forum”</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li class="activity-list">-->
<!--                    <div class="activity-icon avatar-xs">-->
<!--                  <span class="avatar-title bg-soft-primary text-primary rounded-circle">-->
<!--                    <i class="ri-mail-fill"></i>-->
<!--                  </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <div>-->
<!--                        <h5 class="font-size-13">11 Apr, 2020 <small class="text-muted">05:10 pm</small></h5>-->
<!--                      </div>-->

<!--                      <div>-->
<!--                        <p class="text-muted mb-0">Responded to need “In-Kind Opportunity”</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li class="activity-list">-->
<!--                    <div class="activity-icon avatar-xs">-->
<!--                  <span class="avatar-title bg-soft-primary text-primary rounded-circle">-->
<!--                    <i class="ri-calendar-2-fill"></i>-->
<!--                  </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <div>-->
<!--                        <h5 class="font-size-13">07 Apr, 2020 <small class="text-muted">12:47 pm</small></h5>-->
<!--                      </div>-->

<!--                      <div>-->
<!--                        <p class="text-muted mb-0">Created need “Volunteer Activities”</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li class="activity-list">-->
<!--                    <div class="activity-icon avatar-xs">-->
<!--                  <span class="avatar-title bg-soft-primary text-primary rounded-circle">-->
<!--                    <i class="ri-edit-2-fill"></i>-->
<!--                  </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <div>-->
<!--                        <h5 class="font-size-13">05 Apr, 2020 <small class="text-muted">03:09 pm</small></h5>-->
<!--                      </div>-->

<!--                      <div>-->
<!--                        <p class="text-muted mb-0">Attending the event “Some New Event”</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  <li class="activity-list">-->
<!--                    <div class="activity-icon avatar-xs">-->
<!--                  <span class="avatar-title bg-soft-primary text-primary rounded-circle">-->
<!--                    <i class="ri-user-2-fill"></i>-->
<!--                  </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                      <div>-->
<!--                        <h5 class="font-size-13">02 Apr, 2020 <small class="text-muted">12:07 am</small></h5>-->
<!--                      </div>-->

<!--                      <div>-->
<!--                        <p class="text-muted mb-0">Responded to need “In-Kind Opportunity”</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </perfect-scrollbar>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <!-- end row -->

      <div class="row">
        <div class="col-md-3">
          <app-stat [icon]="'ri-briefcase-4-line'" [title]="'Parking Fees Collected (Daily)'"
                    [value]="'KES 17.50'"></app-stat>
        </div>
        <div class="col-md-3">
          <app-stat [icon]="'ri-briefcase-4-line'" [title]="'SBP Fees Collected (Daily)'"
                    [value]="'KES 25.50'"></app-stat>
        </div>
        <div class="col-md-3">
          <app-stat [icon]="'ri-briefcase-4-line'" [title]="'Land Rate Fees Collected (Daily)'"
                    [value]="'KES 90.50'"></app-stat>
        </div>
        <div class="col-md-3">
          <app-stat [icon]="'ri-briefcase-4-line'" [title]="'Total Fee Collected (Daily)'"
                    [value]="'KES 133.50'"></app-stat>
        </div>
      </div>
    </div>

  </div>

