<block-ui>
  <div class="container-fluid">
    <app-pagetitle [breadcrumbItems]="breadCrumbItems" title="Permit Details"></app-pagetitle>


    <div *ngIf="(!appEditMode)" class="row">

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">

            <div>
              <!--  -->
              <button (click)="initAddPermit()" class="btn btn-success mb-2" type="button">

                <!-- <a href="javascript:void(0);" class="btn btn-success mb-2" (click)="addUser()">-->
                <i class="mdi mdi-plus mr-2"></i> Apply Permit
              </button>
            </div>
            <div class="table-responsive mt-3">
              <table class="table table-centered datatable dt-responsive nowrap"
                     style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead class="thead-light">
                <tr>
                  <!--   <th style="width: 20px;">
                   &lt;!&ndash;    <div class="custom-control custom-checkbox">
                         <input type="checkbox" class="custom-control-input" id="customercheck" />
                         <label class="custom-control-label" for="customercheck">&nbsp;</label>
                       </div>&ndash;&gt;
                     </th>-->
                  <th>Business Id</th>
                  <th>Business Name</th>
                  <th>No Of Employees</th>
                  <th> Fee</th>
                  <th>Status</th>

                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let app of permit1; let i= index">
                  <!--     <td>
                         <div class="custom-control custom-checkbox">
                           <input type="checkbox" class="custom-control-input" :id="customercheck{{i}}" />
                           <label class="custom-control-label" :for="customercheck{{i}}">&nbsp;</label>
                         </div>
                       </td>-->

                  <td>{{app.permitId}}</td>
                  <td>{{app.businessName}}</td>
                  <td>{{app.noOfEmployees}}</td>
                  <td>{{app.fee}}</td>
                  <td>
                    <div [ngClass]="{'badge-soft-danger': app.approved === 'Pending Approval',
                    'badge-soft-success':app.approved === 'Approved'}" class="badge font-size-12">
                      <ngb-highlight [result]="app.approved"></ngb-highlight>
                    </div>
                    <!-- {{item.approved}}-->
                  </td>

                  <td>
                    <button
                      (click)="initEditPermit(app)"
                      class="btn-rounded btn-light btn-sm  btn-outline-primary"
                      title="Edit permit"
                      type="button">

                      <i class="ri-quill-pen-line"></i>
                    </button>


                    <!--   <a href="javascript:void(0);" class="text-danger" v-b-tooltip.hover title="Delete">
                         <i class="mdi mdi-trash-can font-size-18"></i>
                       </a>-->
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contacts model  -->
  <!--<ng-template #content role="document" let-modal="close"  *ngIf="!isAddMode " >-->
  <div class="modal-header">


    <button aria-label="Close" class="close" type="button"><!--(click)="modal('Cross click')"-->

      <!--<span aria-hidden="true">&times;</span>-->
    </button>
  </div>

  <div *ngIf="(appEditMode)" class="modal-body p-3">

    <div class="text-left">


      <form [formGroup]="permitForm">


        <section>
          <h5 class="mb-10 font-weight-bold text-dark text-center">Business Information</h5>
          <hr style="width: 35%">

          <div class="panel-body">
            <div class="row">
              <div class="col-xl-2">
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="businessName">Business Name<strong
                    style="color:red">*</strong></label>
                  <input class="form-control input-sm" formControlName="businessName" id="businessName"
                         placeholder="Business Name"
                         type="text">
                </div>
              </div>

              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="regNo">Certificate of incorporation</label>
                  <input class="form-control input-sm" formControlName="regNo" id="regNo"
                         placeholder="Certificate of incorporation"
                         type="text">
                </div>
              </div>
              <div class="col-xl-2">
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2">
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="noOfEmployees">KRA PIN number <strong
                    style="color:red">*</strong></label>
                  <input class="form-control input-sm" formControlName="PIN" id="PIN" placeholder="KRA pin number"
                         type="text">
                </div>
              </div>

              <div class="col-xl-4">
                <div class="form-group" ng-show="permitTypeSelect!=14">
                  <label class="control-label input-sm" for="vat"> VAT number</label>
                  <input class="form-control input-sm" formControlName="vat" id="vat" placeholder="VAT number"
                         type="text">
                </div>
              </div>
              <div class="col-xl-2">
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2">
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="postalAdd">P.O. BOX <strong
                    style="color:red">*</strong></label>
                  <input class="form-control input-sm" formControlName="postalAdd" id="postalAdd" placeholder="P.O. BOX"
                         type="text">
                </div>
              </div>

              <div class="col-xl-4">
                <div class="form-group" ng-show="permitTypeSelect!=14">
                  <label class="control-label input-sm" for="postalCode">Postal code <strong
                    style="color:red">*</strong></label>
                  <input class="form-control input-sm" formControlName="postalCode" id="postalCode"
                         placeholder="postalCode"
                         type="text">
                </div>
              </div>
              <div class="col-xl-2">
              </div>
            </div>


            <div class="row">
              <div class="col-xl-4">
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="postalTown">Postal Town</label>
                  <input class="form-control input-sm" formControlName="postalTown" id="postalTown"
                         placeholder="postalTown"
                         type="text">
                </div>
              </div>

              <div class="col-xl-4">
              </div>
            </div>

          </div>
        </section>

        <section>
          <h5 class="mb-10 font-weight-bold text-dark text-center">Additional business information</h5>
          <hr style="width: 35%">

          <div class="panel-body">
            <div class="row">
              <div class="col-xl-2">
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="businessMobile">Business mobile number <strong
                    style="color:red">*</strong></label>
                  <input class="form-control input-sm" formControlName="mobileNo" id="businessMobile"
                         placeholder="Business mobile number" type="text">
                </div>
              </div>

              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="altMobileNo">Alternative business mobile number</label>
                  <input class="form-control input-sm" formControlName="altMobileNo" id="altMobileNo"
                         placeholder="Alternative business mobile number" type="text">
                </div>
              </div>
              <div class="col-xl-2">
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2">
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="fax">FAX number</label>
                  <input class="form-control input-sm" formControlName="fax" id="fax" placeholder="FAX number"
                         type="text">
                </div>
              </div>

              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="email">Business email <strong style="color:red">*</strong>
                  </label>
                  <input class="form-control input-sm" formControlName="email" id="email" placeholder="Business email "
                         type="text">
                </div>
              </div>
              <div class="col-xl-2">
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2">
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="landZone">Business physical address <strong
                    style="color:red">*</strong></label>
                  <input class="form-control input-sm" formControlName="landZone" id="landZone" placeholder="Business physical address"
                         type="text">
                </div>
              </div>

              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="plotNo">Plot number <strong
                    style="color:red">*</strong></label>
                  <input class="form-control input-sm" formControlName="plotNo" id="plotNo" placeholder="Plot number "
                         type="text">
                </div>
              </div>
              <div class="col-xl-2">
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2">
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="building">Building name <strong
                    style="color:red">*</strong></label>
                  <input class="form-control input-sm" formControlName="building" id="building" placeholder="Building name"
                         type="text">
                </div>
              </div>

              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="room">Room/Stall number</label>
                  <input class="form-control input-sm" formControlName="room" id="room" placeholder="Room/Stall number "
                         type="text">
                </div>
              </div>
              <div class="col-xl-2">
              </div>
            </div>


          </div>
        </section>

        <section>
          <div class="panel-heading input-sm">

            <h5 class="mb-10 font-weight-bold text-dark text-center">Business Owner's information</h5>
            <hr style="width: 35%">

          </div>
          <div class="panel-body">

            <div class="row">
              <div class="col-xl-2">
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="applicant">Owner's full name <strong
                    style="color:red">*</strong></label>
                  <input class="form-control input-sm" formControlName="applicant" id="applicant"
                         placeholder="Owner's full name " type="text">
                </div>
              </div>

              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="nationalId">ID Number <strong style="color:red">*</strong></label>
                  <input class="form-control input-sm" formControlName="nationalId" id="nationalId"
                         placeholder="ID Number" type="text">
                </div>
              </div>
              <div class="col-xl-2">
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2">
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="applicantFax">Owners FAX number </label>
                  <input class="form-control input-sm" formControlName="applicantFax" id="applicantFax"
                         placeholder="Owners FAX number" type="text">
                </div>
              </div>

              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="applicantMobile">Owner's mobile number <strong
                    style="color:red">*</strong></label>
                  <input class="form-control input-sm" formControlName="applicantMobile" id="applicantMobile"
                         placeholder="Owner's mobile number" type="text">
                </div>
              </div>
              <div class="col-xl-2">
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2">
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="personalNumber">Alternative mobile number </label>
                  <input class="form-control input-sm" formControlName="personalNumber" id="personalNumber"
                         placeholder="Alternative mobile number" type="text">
                </div>
              </div>

              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="personalAdd">Owner's P.O. Box Number <strong
                    style="color:red">*</strong> </label>
                  <input class="form-control input-sm" formControlName="personalAdd" id="personalAdd"
                         placeholder="Owner's P.O. Box Number" type="text">
                </div>
              </div>
              <div class="col-xl-2">
              </div>
            </div>

            <div class="row">
              <div class="col-xl-4">
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="personalCode">Postal code </label>
                  <input class="form-control input-sm" formControlName="personalCode" id="personalCode"
                         placeholder="Postal code * " type="text">
                </div>
              </div>


              <div class="col-xl-4">
              </div>
            </div>

          </div>
        </section>

        <section>
          <div class="panel-heading input-sm">

            <h5 class="mb-10 font-weight-bold text-dark text-center">Activity Information</h5>
            <hr style="width: 35%">

          </div>
          <div class="panel-body">

            <div class="row">
              <div class="col-xl-2">
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="businessDesc">Activity description <strong style="color:red">*</strong></label>
                  <input class="form-control input-sm" formControlName="businessDesc" id="businessDesc" placeholder="Activity description" type="text">
                </div>
              </div>

              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="area">Area (M2) <strong style="color:red">*</strong></label>
                  <input class="form-control input-sm" formControlName="area" id="area" placeholder="Area (M2)" type="text">
                </div>
              </div>
              <div class="col-xl-2">
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2">
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="otherActivity">Other details </label>
                  <input class="form-control input-sm" formControlName="otherActivity" id="otherActivity" placeholder="Other details" type="text">
                </div>
              </div>

              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label input-sm" for="noOfEmployees">Number of employees </label>
                  <input class="form-control input-sm" formControlName="noOfEmployees" id="noOfEmployees" placeholder="Number of employees " type="number">
                </div>
              </div>
              <div class="col-xl-2">
              </div>
            </div>

            <div class="row">
              <div class="col-xl-4">
              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label">Permit Type <strong style="color:red">*</strong></label>
                  <ng-select [items]="permitType1"
                             bindLabel="permitTypeName"
                             bindValue="permitTypeId"
                             formControlName="permitTypeId">
                  </ng-select>
                </div>
              </div>


              <div class="col-xl-4">
              </div>
            </div>

            <div class="row">
              <div class="col-xl-2">

              </div>
              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label">Sub County <strong style="color:red">*</strong></label>
                  <ng-select [items]="region1"
                             bindLabel="subCountyName"
                             bindValue="subCountyId"
                             formControlName="subcountyId">
                  </ng-select>
                </div>
              </div>

              <div class="col-xl-4">
                <div class="form-group">
                  <label class="control-label">Ward <strong style="color:red">*</strong></label>
                  <ng-select *ngIf="region1" [items]="ward1"
                             bindLabel="wardName"
                             bindValue="wardId"
                             formControlName="wardId">
                  </ng-select>
                </div>
              </div>

              <div class="col-xl-2">
              </div>
            </div>

          </div>
        </section>
        <!-- <div class="col-sm-6 noPadding">
           <div class="col-sm-4" style="text-align: right;">
             <label for="noOfEmployees" class="control-label input-sm">No
               of Employees</label>
           </div>
           <div class="col-sm-8">
             <input type="number" class="form-control input-sm"
                    id="noOfEmployees" placeholder="No of Employees"
                    formControlName="noOfEmployees">
             &lt;!&ndash; [ngClass]="{'is-invalid': submitted && form.userFullName.errors}">
                  <div *ngIf="submitted && form.userFullName.errors" class="invalid-feedback">
                    <span *ngIf="form.userFullName.errors.required">Name is mandatory.</span>
                  </div>&ndash;&gt;
           </div>
         </div>
         <div class="col-md-6">
           <div class="form-group  ">
             <label class="control-label">Permit Type</label>
             <ng-select [items]="permitType1"
                        bindLabel="permitTypeName"
                        bindValue="permitTypeId"
                        formControlName="permitTypeId">
             </ng-select>
           </div>
         </div>

         <div class="col-md-6">
           <div class="form-group ">
             <label class="control-label">Sub County</label>
             <ng-select [items]="region1"
                        bindLabel="subCountyName"
                        bindValue="subCountyId"
                        formControlName="subcountyId">
             </ng-select>
           </div>
         </div>
         <div class="form-group row">
           <label for="waterAccNo" class="control-label input-sm">Water
             Conn. No</label>
           <input type="text" class="form-control input-sm" id="waterAccNo"
                  placeholder="Water Connection No" formControlName="waterAccNo">
           &lt;!&ndash; [ngClass]="{'is-invalid': submitted && form.userFullName.errors}">
                <div *ngIf="submitted && form.userFullName.errors" class="invalid-feedback">
                  <span *ngIf="form.userFullName.errors.required">Name is mandatory.</span>
                </div>&ndash;&gt;
         </div>

         <div class="form-group row">
           <label for="emailuser">Email address</label>
           <input class="form-control" id="emailuser" placeholder="Enter email" formControlName="email"
           >
           &lt;!&ndash; [ngClass]="{'is-invalid': submitted && form.email.errors}">
            <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
              <span *ngIf="form.email.errors.required">Email address is mandatory.</span>
              <span *ngIf="form.email.errors.pattern">Please enter valid email.</span>
            </div>&ndash;&gt;
         </div>

         <div class="form-group row">
           <label for="electricityAccNo" class="control-label input-sm">Electricity
             Acc. No</label>
           <input type="text" class="form-control input-sm"
                  id="electricityAccNo" placeholder="Electricity Account No"
                  formControlName="electricityAccNo">
           &lt;!&ndash;[ngClass]="{'is-invalid': submitted && form.userPhone.errors}" minlength="10">
              <div *ngIf="submitted && form.userPhone.errors" class="invalid-feedback">
                <span *ngIf="form.userPhone.errors.required">Phone is mandatory.</span>
                <span *ngIf="form.userPhone.errors.minlength">Phone number must be 10 characters.</span>
              </div>&ndash;&gt;
         </div>





           <div class="form-group row">
             <label for="businessDesc" class="control-label input-sm">Business
               Description</label>
             <textarea type="text" class="form-control input-sm"
                       id="businessDesc" placeholder="Business Description"
                       formControlName="businessDesc"></textarea>
           </div>

         <div class="col-sm-8">
         <div class="panel-heading input-sm">
           <strong><span class="glyphicon glyphicon-th input-sm"></span>
             Contact Information</strong>
         </div>
         </div>
         <div class="panel-body">
           &lt;!&ndash;
             <div class="form-group col-sm-12 noPadding">
               <div class="col-sm-12 noPadding">
                 <div class="col-sm-2" style="text-align: right;">
                   <label for="nationalId" class="control-label input-sm">Name
                   </label>
                 </div>
                 <div class="col-sm-10">
                   <input type="text" class="form-control input-sm" id="plotNo"
                     placeholder="Name" ng-model="name">
                 </div>
               </div>
             </div>
             <div class="form-group col-sm-12 noPadding">
               <div class="col-sm-12 noPadding">
                 <div class="col-sm-2" style="text-align: right;">
                   <label for="nationalId" class="control-label input-sm">National
                     Id </label>
                 </div>
                 <div class="col-sm-10">
                   <input type="text" class="form-control input-sm" id="plotNo"
                     placeholder="National Id" ng-model="nationalId">
                 </div>
               </div>
             </div>
              &ndash;&gt;

             <div class="form-group row">

                 <label for="applicant" class="control-label input-sm">
                   Applicant</label>


                 <input type="text" class="form-control input-sm" id="applicant"
                        placeholder="Applicant Name" formControlName="applicant">

             </div>
           <div class="form-group row">

                 <label for="nationalId" class="control-label input-sm">National ID Number</label>


                 <input type="text" class="form-control input-sm" id="nationalId"
                        placeholder="National Id" formControlName="nationalId">

             </div>


           &lt;!&ndash;  <div class="form-group row">

                 <label for="postalAdd" class="control-label input-sm">
                   Postal Address</label>

                 <input type="text" class="form-control input-sm" id="postalAdd"
                        placeholder="Postal Address" formControlName="postalAdd">

             </div>&ndash;&gt;
          &lt;!&ndash; <div class="form-group row">


                 <label for="postalCode" class="control-label input-sm">Postal
                   Code</label>

                 <input type="text" class="form-control input-sm" id="postalCode"
                        placeholder="Postal Code" formControlName="postalCode">

             </div>
   &ndash;&gt;

             <div class="form-group row">

                 <label for="email" class="control-label input-sm">Email </label>

                 <input type="email" class="form-control input-sm"
                        id="email" placeholder="Email" formControlName="email">

             </div>
           <div class="form-group row">


                 <label for="fax" class="control-label input-sm">Fax</label>

                 <input type="text" class="form-control input-sm" id="fax"
                        placeholder="Fax" formControlName="fax">
               </div>
             </div>



             <div class="form-group row">

                 <label for="mobileNo" class="control-label input-sm">
                   Mobile No.</label>

                 <input type="text" class="form-control input-sm"
                        mask="9999-999-999" id="mobileNo"
                        placeholder="Telephone(Mobile)" formControlName="mobileNo">

             </div>
           <div class="form-group row">


                 <label for="landLineNo" class="control-label input-sm">Land-Line
                   No.</label>

                 <input type="text" class="form-control input-sm"
                        mask="9999-999-999" clean="true" id="landLineNo"
                        placeholder="Alternative Line" formControlName="landLineNo">

             </div>




             <div class="form-group row">

                 <label for="landZone" class="control-label input-sm">
                   Land Zone</label>

                 <input type="text" class="form-control input-sm" id="landZone"
                        placeholder="Land Zone" formControlName="landZone">

             </div>
           <div class="form-group row">


                 <label for="plotNo" class="control-label input-sm">Plot
                   No.</label>

                 <input type="text" class="form-control input-sm" id="plotNo"
                        placeholder="Plot No" formControlName="plotNo">
               </div>






           <div class="form-group row">
             <label>Date </label>
             <input class="form-control" placeholder="Enter date" formControlName="date"
               [ngClass]="{'is-invalid': submitted && form.date.errors}">
             <div *ngIf="submitted && form.date.errors" class="invalid-feedback">
               <span *ngIf="form.date.errors.required">Date is mandatory.</span>
             </div>
           </div>-->

        <div class="text-right">
          <button (click)="addPermit()" *ngIf="!appDetailMode && appEditMode" class="btn btn-success" type="submit">
            Save
          </button>
          <button (click)="updatePermit()" *ngIf=" appEditMode && appDetailMode " class="btn btn-success" type="submit">
            Update
          </button>
          <button (click)="cancel()" class="btn btn-danger ml-1" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>

</block-ui>

<!--</ng-template>-->
