<block-ui>
<div class="container-fluid">
  <app-pagetitle title="Parking Details" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>


  <div class="row" *ngIf="(!isAddMode && !isExisting ) || (isExisting && isAddMode) ">

    <div class="col-lg-12"  >
      <div class="card">
        <div class="card-body">

          <div  >
            <!--  -->
            <button  type="button" class="btn btn-success mb-2"  (click)="initAddParking()" >

              <!-- <a href="javascript:void(0);" class="btn btn-success mb-2" (click)="addUser()">-->
              <i class="mdi mdi-plus mr-2"></i> Add Parking Service
            </button>
          </div>
          <div class="table-responsive mt-3"  >
            <table class="table table-hover table-bordered table-centered datatable dt-responsive nowrap p-4">
              <thead class="thead-light">
              <tr>
                <!--   <th style="width: 20px;">
                 &lt;!&ndash;    <div class="custom-control custom-checkbox">
                       <input type="checkbox" class="custom-control-input" id="customercheck" />
                       <label class="custom-control-label" for="customercheck">&nbsp;</label>
                     </div>&ndash;&gt;
                   </th>-->
                <th>Parking Code</th>
                <th class="text-center">Parking Name</th>
               <!-- <th>Status</th>-->
                <th class="text-center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of Parkings1; let i= index">
                <!--     <td>
                       <div class="custom-control custom-checkbox">
                         <input type="checkbox" class="custom-control-input" :id="customercheck{{i}}" />
                         <label class="custom-control-label" :for="customercheck{{i}}">&nbsp;</label>
                       </div>
                     </td>-->

                <td>{{user.serviceCode}}</td>
                <td class="text-center">{{user.serviceName}}</td>

            <!--    <td>
                  <div class="badge font-size-12" [ngClass]="{'badge-soft-danger': user.approved === 'Pending Approval',
                    'badge-soft-success':user.approved === 'Approved'}">
                    <ngb-highlight [result]="user.approved"></ngb-highlight>
                  </div>
                  &lt;!&ndash; {{item.approved}}&ndash;&gt;
                </td>-->


                <td class="text-center">
                  <button (click)="initEditParking(user)"
                          class="btn-rounded btn-light btn-sm btn-outline-primary"
                          title="Edit parking details"
                          type="button">

                    <i class="ri-quill-pen-line"></i> Edit Parking Details
                  </button>


                  <!--   <a href="javascript:void(0);" class="text-danger" v-b-tooltip.hover title="Delete">
                       <i class="mdi mdi-trash-can font-size-18"></i>
                     </a>-->
                </td>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contacts model  -->
<!--<ng-template #content role="document" let-modal="close"  *ngIf="!isAddMode " >-->
<div class="modal-header"  >


  <button type="button" class="close" aria-label="Close" ><!--(click)="modal('Cross click')"-->

    <!--<span aria-hidden="true">&times;</span>-->
  </button>
</div>

<div class="modal-body p-3" *ngIf="(!isAddMode && isExisting)|| (!isExisting && isAddMode)"  >
  <div class="text-left" >

    <form  [formGroup]="ParkingForm">


<!--      <div class="form-group row" *ngIf="!isAddMode && isExisting">-->
<!--        <label for="serviceCode">Parking Code</label>-->
<!--        <input type="text" class="form-control" id="serviceCode" placeholder="Enter Parking Code" formControlName="serviceCode" value="Parking" disabled>-->
<!--        &lt;!&ndash; [ngClass]="{'is-invalid': submitted && form.userFullName.errors}">-->
<!--             <div *ngIf="submitted && form.userFullName.errors" class="invalid-feedback">-->
<!--               <span *ngIf="form.userFullName.errors.required">Name is mandatory.</span>-->
<!--             </div>&ndash;&gt;-->
<!--      </div>-->
      <div class="form-group row">
        <label for="serviceName">Parking Name</label>
        <input type="text" class="form-control" id="serviceName" placeholder="Enter Parking Name" formControlName="serviceName"
        >
        <!-- [ngClass]="{'is-invalid': submitted && form.userFullName.errors}">
             <div *ngIf="submitted && form.userFullName.errors" class="invalid-feedback">
               <span *ngIf="form.userFullName.errors.required">Name is mandatory.</span>
             </div>-->
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="active"  formControlName="active"/>
        <label class="custom-control-label" for="active">Active</label>
      </div>

      <!--  <div class="form-group row">
          <label>Date </label>
          <input class="form-control" placeholder="Enter date" formControlName="date"
            [ngClass]="{'is-invalid': submitted && form.date.errors}">
          <div *ngIf="submitted && form.date.errors" class="invalid-feedback">
            <span *ngIf="form.date.errors.required">Date is mandatory.</span>
          </div>
        </div>-->

      <div class="text-right">
        <button type="submit"*ngIf="!isExisting && isAddMode"  (click) ="saveData()" class="btn btn-success">Save</button>
        <button type="submit" *ngIf="!isAddMode && isExisting" (click) ="updateParking()" class="btn btn-success">Update</button>
        <button type="button" class="btn btn-danger ml-1"(click)="cancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>



<!--</ng-template>-->
</block-ui>
