<div class="container-fluid">
  <app-pagetitle [breadcrumbItems]="breadCrumbItems" title="Approve Agent Delete"></app-pagetitle>

  <div *ngIf="(!isAddMode && !isExisting ) || (isExisting && isAddMode) " class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">

          <div class="table-responsive mt-10">
            <table class="table table-centered datatable dt-responsive nowrap"
                   style="border-collapse: collapse; border-spacing: 0; width: 100%;">
              <thead class="thead-light">
              <tr>
                <!--  <th style="width: 20px;">
                    <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customercheck" />
                          <label class="custom-control-label" for="customercheck"></label>
                        </div>
                      </th>-->

                <th>Agent Name</th>
                <th>ID Number</th>
                <th>Business Mobile</th>
                <th>email</th>
                <th>Status</th>
                <th style="width: 120px;">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of agents; let i= index">
                <!--     <td>
                       <div class="custom-control custom-checkbox">
                         <input type="checkbox" class="custom-control-input" :id="customercheck{{i}}" />
                         <label class="custom-control-label" :for="customercheck{{i}}">&nbsp;</label>
                       </div>
                     </td>-->

                <td>{{item.firstname + ' ' + item.secondname}}</td>
                <td>{{item.idnumber}}</td>
                <td>{{item.businessmobile}}</td>
                <td>{{item.email}}</td>
                <td>
                  <div [ngClass]="{'badge-soft-danger':item.rejected === null  || item.rejected === false && item.approved===false , 'badge-soft-success':item.approved, 'badge-soft-warning':item.rejected}
                    "

                       class="badge font-size-12">
                    <!--                    <ngb-highlight [result]="item.approved ? 'approved':'pending' "></ngb-highlight>-->

                    <ngb-highlight
                      [result]="item.approved === true ? 'approved' :  item.rejected ? 'rejected': item.rejected=== null || item.rejected === false && item.approved===false ? 'pending' : 'null'"></ngb-highlight>
                  </div>
                </td>


                <td>
                  <button (click)="initEditAgent(item)"
                          class="btn-rounded btn-light btn-outline-danger btn-sm"
                          title="Approve Delete"
                          type="button">
                    Approve
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contacts model  -->
<!--<ng-template #content role="document" let-modal="close">-->
<div class="modal-header">
  <!-- <h5 class="modal-title">Add Agent</h5>-->
  <!-- <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
     <span aria-hidden="true">&times;</span>
   </button>-->
</div>
<div *ngIf="(!isAddMode && isExisting)|| (!isExisting && isAddMode)" class="modal-body p-3">
  <div class="text-center">
    <form [formGroup]="validationform">

      <section>
        <h5 class="mb-10 font-weight-bold text-dark text-center">Approve Agent Delete</h5>
        <hr style="width: 35%">

        <div class="panel-body">


          <div class="row">
            <div class="col-xl-2">
            </div>
            <div class="col-xl-4">
              <div class="form-group">
                <label class="control-label input-sm" for="name">First Name</label><strong
                style="color:#ff0000">*</strong>
                <input [ngClass]="{'is-invalid': submitted && form.firstname.errors}" class="form-control" formControlName="firstname" id="name"
                       placeholder="Enter firstname"
                       type="text" disabled>
                <div *ngIf="submitted && form.firstname.errors" class="invalid-feedback">
                  <span *ngIf="form.firstname.errors.required">Name is mandatory.</span>
                </div>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="form-group">
                <label class="control-label input-sm" for="secondname">Second Name</label><strong
                style="color:red">*</strong>
                <input [ngClass]="{'is-invalid': submitted && form.secondname.errors}" class="form-control" formControlName="secondname" id="secondname"
                       placeholder="Enter Second Name" disabled>
                <div *ngIf="submitted && form.secondname.errors" class="invalid-feedback">
                  <span *ngIf="form.secondname.errors.required">secondname is mandatory.</span>
                </div>
              </div>
            </div>
            <div class="col-xl-2">
            </div>
          </div>

          <div class="row space-between">
            <div class="col-xl-2">
            </div>

            <div class="col-xl-3">
              <div class="form-group">
                <label class="control-label input-sm" for="dob">Date of Birth</label><strong
                style="color:red">*</strong>
                <input [ngClass]="{'is-invalid': submitted && form.dob.errors}" class="form-control" formControlName="dob" id="dob" placeholder="Enter Date of Birth"
                       type="date" disabled>
                <div *ngIf="submitted && form.dob.errors" class="invalid-feedback">
                  <span *ngIf="form.dob.errors.required">DOB is mandatory.</span>
                </div>
              </div>
            </div>

            <div class="col-xl-2">
              <div class="form-group">
                <label class="control-label input-sm" for="idtype">ID Type</label><strong style="color:red">*</strong>
<!--                <input [ngClass]="{'is-invalid': submitted && form.idtype.errors}" class="form-control" formControlName="idtype" id="idtype"-->
<!--                       placeholder="Enter id type"-->
<!--                       type="number">-->
                <ng-select [items]="[{id:1, name: 'Passport'}, {id:2, name: 'ID Card'}, {id:3, name: 'Driving License'}]"
                           id="idtype"
                           bindLabel="name"
                           bindValue="id"
                           formControlName="idtype"
                >
                </ng-select>
                <div *ngIf="submitted && form.idtype.errors" class="invalid-feedback">
                  <span *ngIf="form.idtype.errors.required">Id Type is mandatory.</span>
                </div>
              </div>
            </div>
            <div class="col-xl-3">
              <div class="form-group">
                <label class="control-label input-sm" for="idnumber">ID Number</label><strong
                style="color:red">*</strong>
                <input [ngClass]="{'is-invalid': submitted && form.idnumber.errors}" class="form-control" formControlName="idnumber" id="idnumber"
                       placeholder="Enter ID Number">
                <div *ngIf="submitted && form.idnumber.errors" class="invalid-feedback">
                  <span *ngIf="form.idnumber.errors.required">Id Number is mandatory.</span>
                </div>
              </div>
            </div>

            <div class="col-xl-2">
            </div>
          </div>

          <div class="row">
            <div class="col-xl-2">
            </div>
            <div class="col-xl-3">
              <div class="form-group">
                <label class="control-label input-sm" for="email">Email</label><strong style="color:red">*</strong>
                <input [ngClass]="{'is-invalid': submitted && form.email.errors}" class="form-control" formControlName="email" id="email" placeholder="Enter email"
                       type="email">
                <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                  <span *ngIf="form.balance.errors.required">email is mandatory.</span>
                </div>
              </div>
            </div>

            <div class="col-xl-2">
              <div class="form-group">
                <label class="control-label input-sm" for="idNumber">Gender <strong style="color:red">*</strong>
                </label>
<!--                <input [ngClass]="{'is-invalid': submitted && form.gender.errors}" class="form-control" formControlName="gender"-->
<!--                       type="text">-->
                <ng-select [items]="[{id:1, name: 'Male'}, {id:2, name: 'Female'}]"
                           id="gender"
                           bindLabel="name"
                           bindValue="name"
                           formControlName="gender"
                >
                </ng-select>

                <div *ngIf="submitted && form.gender.errors" class="invalid-feedback">
                  <span *ngIf="form.gender.errors.required">Gender is mandatory.</span>
                </div>
              </div>
            </div>

            <div class="col-xl-3">
              <div class="form-group">
                <label class="control-label input-sm" for="businessmobile">Business Mobile</label><strong
                style="color:red">*</strong>
                <input [ngClass]="{'is-invalid': submitted && form.businessmobile.errors}" class="form-control" formControlName="businessmobile"
                       id="businessmobile"
                       placeholder="Enter Business Mobile">
                <div *ngIf="submitted && form.businessmobile.errors" class="invalid-feedback">
                  <span *ngIf="form.businessmobile.errors.required">Business Mobile.</span>
                </div>
              </div>
            </div>
            <div class="col-xl-2">
            </div>
          </div>

          <div class="row">
            <div class="col-xl-2">
            </div>
            <div class="col-xl-3">
              <div class="form-group">
                <label class="control-label input-sm" for="county">County <strong
                  style="color:red">*</strong></label>
                <input class="form-control input-sm" formControlName="county" id="county" placeholder="County"
                       type="text">
              </div>
            </div>

            <div class="col-xl-2">
              <div class="form-group">
                <label class="control-label input-sm" for="subcounty">SubCounty <strong
                  style="color:red">*</strong></label>
                <input class="form-control input-sm" formControlName="subcounty" id="subcounty"
                       placeholder="Sub County "
                       type="text">
              </div>
            </div>

            <div class="col-xl-3">
              <div class="form-group">
                <label class="control-label input-sm" for="ward">Ward <strong
                  style="color:red">*</strong></label>
                <input class="form-control input-sm" formControlName="ward" id="ward" placeholder="Ward "
                       type="text">
              </div>
            </div>

            <div class="col-xl-2">
            </div>
          </div>



        </div>
      </section>

      <div class="text-center btn-group">
        <button (click)="Approve()" class="btn btn-success" type="submit">Approve</button>
        <button (click)="Reject()" class="btn btn-danger ml-1" type="submit">Reject</button>
        <button (click)="cancel()" class="btn btn-dark ml-1" type="button">Cancel</button>
      </div>
    </form>
  </div>
</div>
<!--</ng-template>-->
