<block-ui>
  <div class="container-fluid">
    <app-pagetitle [breadcrumbItems]="breadCrumbItems" title="Land Details"></app-pagetitle>


    <div *ngIf="(!appEditMode)" class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <section class="panel panel-default table-dynamic">
              <div class="panel-heading input-sm">
                <strong><span class="glyphicon glyphicon-th"></span>
                  Land Invoices List</strong>

              </div>

              <div class="table-filters">
                <div class="row">
                  <div class="col-sm-4 col-xs-6">

                  </div>

                </div>
              </div>


              <div class="table-responsive mt-3">
                <table
                  class="table table-centered datatable dt-responsive nowrap"
                  style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                  <thead>
                  <tr>
                    <th>
                      <div class="th">
                        # <span class="glyphicon glyphicon-chevron-up"
                                data-ng-class="{active: row == 'count'}"
                                data-ng-click=" order('count') "></span><span
                        class="glyphicon glyphicon-chevron-down"
                        data-ng-class="{active: row == '-count'}"
                        data-ng-click=" order('-count') "></span>
                      </div>
                    </th>

                    <th>
                      <div class="th">
                        Plot Number <span class="glyphicon glyphicon-chevron-up"
                                          data-ng-class="{active: row == 'plotNumber'}"
                                          data-ng-click=" order('plotNumber') "></span><span
                        class="glyphicon glyphicon-chevron-down"
                        data-ng-class="{active: row == '-plotNumber'}"
                        data-ng-click=" order('-plotNumber') "></span>
                      </div>
                    </th>
                    <th>
                      <div class="th">
                        Applicant <span class="glyphicon glyphicon-chevron-up"
                                        data-ng-class="{active: row == 'applicant'}"
                                        data-ng-click=" order('applicant') "></span><span
                        class="glyphicon glyphicon-chevron-down"
                        data-ng-class="{active: row == '-applicant'}"
                        data-ng-click=" order('-applicant') "></span>
                      </div>
                    </th>

                    <th>
                      <div class="th">
                        Date Of Application <span class="glyphicon glyphicon-chevron-up"
                                                  data-ng-class="{active: row == 'appliedOn'}"
                                                  data-ng-click=" order('appliedOn') "></span><span
                        class="glyphicon glyphicon-chevron-down"
                        data-ng-class="{active: row == '-appliedOn'}"
                        data-ng-click=" order('-appliedOn') "></span>
                      </div>
                    </th>
                    <th>
                      <div class="th">
                        Land Invoice Status<span class="glyphicon glyphicon-chevron-up"
                                                 data-ng-class="{active: row == 'status'}"
                                                 data-ng-click=" order('status') "></span><span
                        class="glyphicon glyphicon-chevron-down"
                        data-ng-class="{active: row == '-status'}"
                        data-ng-click=" order('-status') "></span>
                      </div>
                    </th>
                    <th>
                      <div class="th">
                        Payment Status <span class="glyphicon glyphicon-chevron-up"
                                             data-ng-class="{active: row == 'paidStatus'}"
                                             data-ng-click=" order('paidStatus') "></span><span
                        class="glyphicon glyphicon-chevron-down"
                        data-ng-class="{active: row == '-paidStatus'}"
                        data-ng-click=" order('-paidStatus') "></span>
                      </div>
                    </th>


                    <th style="width: 60px"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let landinvoice of land1; let i= index">
                    <td>{{i + 1}}</td>
                    <!-- <td>{{landinvoice.regNo}}</td>-->
                    <td>{{landinvoice.plotNumber}}</td>
                    <td>{{landinvoice.name}}</td>
                    <td>{{landinvoice.appliedOn | date : 'longDate'}}</td>
                    <td>
                      <div [ngClass]="{'badge-soft-danger': landinvoice.approved === 'Pending Approval',
                    'badge-soft-success':landinvoice.approved === 'Approved'}" class="badge font-size-12">
                        <ngb-highlight [result]="landinvoice.approved"></ngb-highlight>
                      </div>
                      <!-- {{item.approved}}-->
                    </td>
                    <td>{{landinvoice.paidStatus}}</td>
                    <td style="padding: 5px auto;">
                      <button (click)="initEditLand(landinvoice)" class="btn btn-success btn-sm"
                              tooltip-placement="top"

                              type="button">
                        <span class="glyphicon glyphicon-pencil">Edit</span>
                      </button>
                    </td>

                  </tr>
                  </tbody>
                </table>
              </div>


            </section>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="(appEditMode)" class="modal-body p-3">

      <div class="text-left">
        <form [formGroup]="landForm">
          <section class="panel panel-default">

            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <section class="panel panel-default">

                    <h5 class="mb-10 font-weight-bold text-dark text-center">Land Details</h5>
                    <hr style="width: 35%">

                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xl-2">
                        </div>
                        <div class="col-xl-4">
                          <div class="form-group">
                            <label class="control-label input-sm" for="plotNumber">Plot Number </label>
                            <input class="form-control input-sm" formControlName="plotNumber" id="plotNumber" readonly
                                   type="text">
                          </div>
                        </div>

                        <div class="col-xl-4">
                          <div class="form-group">
                            <label class="control-label input-sm" for="mapSheetNumber">Map Sheet Number </label>
                            <input class="form-control input-sm" formControlName="mapSheetNumber" id="mapSheetNumber"
                                   readonly type="text">
                          </div>
                        </div>
                        <div class="col-xl-2">
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xl-2">
                        </div>
                        <div class="col-xl-4">
                          <div class="form-group">
                            <label class="control-label input-sm" for="titleDeedNumber">Title Deed Number </label>
                            <input class="form-control input-sm" formControlName="titleDeedNumber" id="titleDeedNumber"
                                   readonly type="text">
                          </div>
                        </div>

                        <div class="col-xl-4">
                          <div class="form-group" ng-show="permitTypeSelect!=14">
                            <label class="control-label">Land Type <strong style="color:red">*</strong></label>
                            <ng-select [items]="permitType1" bindLabel="permitTypeName" bindValue="permitTypeId"
                                       formControlName="permitTypeId"></ng-select>
                          </div>
                        </div>
                        <div class="col-xl-2">
                        </div>
                      </div>
                    </div>
                  </section>

                </div>
                <div class="col-md-12">
                  <section class="panel panel-default">

                    <h5 class="mb-10 font-weight-bold text-dark text-center">Other Details</h5>
                    <hr style="width: 35%">

                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xl-2">
                        </div>
                        <div class="col-xl-4">
                          <div class="form-group">
                            <label class="control-label input-sm" for="name">Applicant Name</label>
                            <input class="form-control input-sm" formControlName="name" id="name" placeholder="name"
                                   readonly type="text">
                          </div>
                        </div>

                        <div class="col-xl-4">
                          <div class="form-group">
                            <label class="control-label input-sm" for="krapin">KRA Pin </label>
                            <input class="form-control input-sm" formControlName="krapin" id="krapin"
                                   placeholder="krapin" readonly type="text">
                          </div>
                        </div>
                        <div class="col-xl-2">
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xl-4">
                        </div>
                        <div class="col-xl-4">
                          <div class="form-group">
                            <label class="control-label input-sm" for="nationalIdNumber" readonly>National Id
                              Number </label>
                            <input class="form-control input-sm" formControlName="nationalIdNumber"
                                   id="nationalIdNumber" placeholder="nationalIdNumber" readonly type="text">
                          </div>
                        </div>


                        <div class="col-xl-4">
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xl-2">
                        </div>
                        <div class="col-xl-4">
                          <div class="form-group">
                            <label class="control-label">Sub County <strong style="color:red">*</strong></label>
                            <ng-select [items]="region1" bindLabel="subCountyName" bindValue="subCountyId"
                                       formControlName="subCountyId"></ng-select>
                          </div>
                        </div>

                        <div class="col-xl-4">
                          <div class="form-group" ng-show="permitTypeSelect!=14">
                            <label class="control-label">Ward <strong style="color:red">*</strong></label>
                            <ng-select *ngIf="region1" [items]="ward1" bindLabel="wardName" bindValue="wardId"
                                       formControlName="wardId"></ng-select>
                          </div>
                        </div>
                        <div class="col-xl-2">
                        </div>
                      </div>
                    </div>


                  </section>
                </div>
              </div>
              <section class="panel panel-default">

                <div class="panel-body">
                  <div class="form-group col-sm-12">
                    <!--       <div class="col-sm-6 noPadding" ng-show="landStatus=='Rejected'">
                             <label class="control-label ">{{rejectMessage}}</label>
                           </div>
                           <div class="col-sm-6 noPadding" ng-show="showReason">
                             <div class="col-sm-4" style="text-align: right;">
                               <label for="reason" class="control-label input-sm">
                                 Reason</label>
                             </div>
                             <div class="col-sm-8">
                               <textarea type="text" class="form-control input-sm"
                                         id="reasonDesc"formControlName="rejectReason"
                                         ng-disabled="isExisting"></textarea>
                             </div>
                           </div>-->
                    <!--     <div class="col-sm-6 noPadding"
                              ng-show="((landStatus!='Approved') && (paidStatus!='Paid'))">
                           <div class="col-sm-4" style="text-align: right;">
                             <label for="status" class="control-label input-sm">Select
                               Status Type</label>
                           </div>
                           <div class="col-sm-8">
                             <select style="width: 100%" ui-select2=""
                                    formControlName="statusSelect" id="statusSelect">
                               <option data-ng-repeat="status in statusList"
                                       ng-selected="{{status.statusId}}" value="{{status.statusId}}">{{status.statusName}}</option>
                             </select>
                           </div>
                         </div>-->

                    <!-- <table
                       ng-show="( (landStatus==='Approved') || (paidStatus==='Paid'))"
                       class="table table-bordered table-striped table-responsive input-sm">
                       <thead>
                       <tr>
                         <th>
                           <div class="th">#</div>
                         </th>

                         <th>
                           <div class="th">Detail</div>
                         </th>
                       </tr>
                       </thead>
                       <tbody>
                       <tr>
                         <td>Approved By</td>
                         <td>{{approvedUser}}</td>
                       </tr>
                       <tr>
                         <td>Approved/Rejected On</td>
                         <td>{{approvedOn | date : 'shortDate'}}</td>
                       </tr>
                       <tr ng-show="landStatus=='Paid'">
                         <td>Paid By</td>
                         <td>{{paidUser}}</td>
                       </tr>
                       <tr ng-show="landStatus=='Paid'">
                         <td>Paid On</td>
                         <td>{{paidOn | date : 'shortDate'}}</td>
                       </tr>
                       <tr>
                         <td>Fee</td>
                         <td>{{fee}}</td>
                       </tr>
                       <tr>
                         <td>Acreage</td>
                         <td>{{acreage}}</td>
                       </tr>
                       <tr>
                         <td>Penalty</td>
                         <td>{{penalty}}</td>
                       </tr>
                       <tr>
                         <td>Amount Paid</td>
                         <td>{{amountpaid}}</td>
                       </tr>
                       <tr>
                         <td>Outstanding</td>
                         <td>{{balance}}</td>
                       </tr>
                       <tr>
                         <td>Total</td>
                         <td>{{total}}</td>
                       </tr>
                       </tbody>
                     </table>-->


                    <div *ngIf=" landForm.value.paidStatus !='paid'" class="col-sm-12">
                      <dl class="dl-horizontal">
                        <div class="col-sm-4" style="text-align: left;">
                          <label class="control-label input-sm" for="serviceCode ">Payment
                            Mode </label>
                        </div>
                        <div class="col-sm-8 noPadding" style="margin-top:5px">
                          <!--<label class="ui-radio"><input name="paymentMode"
                                                        formControlName="paymentMode" type="radio" value="C" checked><span>Bank</span></label>-->
                          <label class="ui-radio"><input formControlName="paymentMode"
                                                         name="paymentMode" type="radio"
                                                         value="M"><span>Mpesa</span></label>
                          <!--<label class="ui-radio"><input name="paymentMode"
                                                        formControlName="paymentMode" type="radio" value="K"><span>Cash</span></label>-->
                        </div>
                      </dl>


                      <div class="form-group col-sm-12 noPadding"
                           ng-show="paymentMode=='M'">
                        <div class="col-sm-12 noPadding">
                          <div class="col-sm-4" style="text-align: right;">
                            <label class="control-label input-sm" for="mpesaCode">Mpesa
                              code </label>
                          </div>
                          <div class="col-sm-8 noPadding">
                            <input class="form-control input-sm" formControlName="mpesaCode"
                                   id="mpesaCode" placeholder="Mpesa code" style="width: 100%"
                                   type="text">
                          </div>
                        </div>
                      </div>


                      <div class="form-group col-sm-12 noPadding">
                        <div *ngIf="(landForm.value.paidStatus =='paid' )" class="col-sm-12 noPadding">
                          <div class="col-sm-4" style="text-align: right;">
                            <label class="control-label input-sm" for="transNo">
                              Amount Payable</label>
                          </div>
                          <div class="col-sm-8 noPadding">
                            <input class="form-control input-sm" formControlName="fee"
                                   id="transNo" placeholder="Amount Paid"
                                   readonly style="width: 100%" type="text">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="form-group">
                    <div class="btn-group-sm mt-4 mb-2 text-center">

                      <button (click)="updateLand()" *ngIf="(landForm.value.paidStatus !='paid' )"
                              class="btn btn-success mr-2"
                              type="submit">Save
                      </button>

                      <a (click)="printInvoice1()"
                         *ngIf="(landForm.value.paidStatus!='paid' )" class="btn btn-success mr-2"
                         href="{{reportUrl}}"
                         target="_blank">Print Invoice</a>

                      <a (click)="printInvoice1()"
                         *ngIf="(landForm.value.paidStatus=='paid' )" class="btn btn-success mr-2"
                         href="{{reportUrl}}"
                         target="_blank">Print Invoice receipt</a>

                      <span></span>
                      <button (click)="cancel()" class="btn btn-warning" type="submit"><span
                        class="glyphicon glyphicon-remove"> Cancel </span></button>
                    </div>
                  </div>
                </div>
              </section>

            </div>
          </section>

        </form>


      </div>
    </div>
  </div>

</block-ui>
