<block-ui>
  <div class="container-fluid">
    <div>
    <app-pagetitle title="Land Details" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

    </div>

    <div class="row" *ngIf="(!appEditMode)" >

      <div class="col-lg-12"  >
        <div class="card">
          <div class="card-body">


            <div class="table-responsive mt-3"  >
              <table class="table table-centered datatable dt-responsive nowrap"
                     style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead class="thead-light">

                <tr>
                  <th>
                    <div class="th">
                      # <span class="glyphicon glyphicon-chevron-up"
                              data-ng-click=" order('count') "
                              data-ng-class="{active: row == 'count'}"></span><span
                      class="glyphicon glyphicon-chevron-down"
                      data-ng-click=" order('-count') "
                      data-ng-class="{active: row == '-count'}"></span>
                    </div>
                  </th>
                  <th>
                    <div class="th">
                      Plot Number<span class="glyphicon glyphicon-chevron-up"
                                       data-ng-click=" order('plotNumber') "
                                       data-ng-class="{active: row == 'plotNumber'}"></span><span
                      class="glyphicon glyphicon-chevron-down"
                      data-ng-click=" order('-plotNumber') "
                      data-ng-class="{active: row == '-plotNumber'}"></span>
                    </div>
                  </th>
                  <th>
                    <div class="th">
                      Title Deed Number <span class="glyphicon glyphicon-chevron-up"
                                              data-ng-click=" order('titleDeedNumber') "
                                              data-ng-class="{active: row == 'titleDeedNumber'}"></span><span
                      class="glyphicon glyphicon-chevron-down"
                      data-ng-click=" order('-titleDeedNumber') "
                      data-ng-class="{active: row == '-titleDeedNumber'}"></span>
                    </div>
                  </th>
                  <th>
                    <div class="th">
                      Name <span class="glyphicon glyphicon-chevron-up"
                                 data-ng-click=" order('name') "
                                 data-ng-class="{active: row == 'name'}"></span><span
                      class="glyphicon glyphicon-chevron-down"
                      data-ng-click=" order('-name') "
                      data-ng-class="{active: row == '-name'}"></span>
                    </div>
                  </th>
                  <th>
                    <div class="th">
                      Acreage <span class="glyphicon glyphicon-chevron-up"
                                    data-ng-click=" order('acreage') "
                                    data-ng-class="{active: row == 'acreage'}"></span><span
                      class="glyphicon glyphicon-chevron-down"
                      data-ng-click=" order('-acreage') "
                      data-ng-class="{active: row == '-acreage'}"></span>
                    </div>
                  </th>
                  <th>
                    <div class="th">
                      Status <span class="glyphicon glyphicon-chevron-up"
                                   data-ng-click=" order('status') "
                                   data-ng-class="{active: row == 'status'}"></span><span
                      class="glyphicon glyphicon-chevron-down"
                      data-ng-click=" order('-status') "
                      data-ng-class="{active: row == '-status'}"></span>
                    </div>
                  </th>

                  <th style="width: 60px"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let reg of land1; let i= index">

                  <td>{{i+1}}</td>
                  <td>{{reg.plotNumber}}</td>
                  <td>{{reg.titleDeedNumber}}</td>
                  <td>{{reg.name}}</td>
                  <td>{{reg.acreage}}</td>
                  <td>
                    <div class="badge font-size-12" [ngClass]="{'badge-soft-danger': reg.approved === 'Pending Approval',
                    'badge-soft-success':reg.approved === 'Approved'}">
                      <ngb-highlight [result]="reg.approved"></ngb-highlight>
                    </div>
                    <!-- {{item.approved}}-->
                  </td>
                  <td style="padding: 1px;">
                    <button type="button" class="btn btn-success btn-sm"
                            tooltip-placement="top"

                            (click)="initEditLand(reg)">
                      <span class="glyphicon glyphicon-pencil">Edit</span>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal-body p-3" *ngIf="(appEditMode)"   >

    <div class="text-left" >

      <form  [formGroup]="landForm">

        <section class="panel panel-default">

          <section>
            <h5 class="mb-10 font-weight-bold text-dark text-center">Land Details</h5>

            <hr style="width: 35%">

            <div class="panel-body">
              <div class="row">
                <div class="col-xl-2">
                </div>
                <div class="col-xl-4">
                  <div class="form-group">
                    <label class="col-sm-4 control-label input-sm" for="plotNumber">Plot Number</label>
                    <input class="form-control input-sm" formControlName="plotNumber" id="plotNumber"
                           placeholder="Plot Number"
                           type="text">
                  </div>
                </div>

                <div class="col-xl-4">
                  <div class="form-group">
                    <label class="col-sm-6 control-label input-sm" for="mapSheetNumber">MapSheet Number</label>
                    <input class="form-control input-sm" formControlName="mapSheetNumber" id="mapSheetNumber"
                           placeholder="MapSheet Number" type="text">
                  </div>
                </div>
                <div class="col-xl-2">
                </div>
              </div>

              <div class="row">
                <div class="col-xl-2">
                </div>
                <div class="col-xl-4">
                  <div class="form-group">
                    <label class="control-label">Land Type <strong style="color:red">*</strong></label>
                    <ng-select [items]="permitType1" bindLabel="permitTypeName" bindValue="permitTypeId"
                               formControlName="permitTypeId">
                    </ng-select>
                  </div>
                </div>

                <div class="col-xl-4">
                  <div class="form-group" ng-show="permitTypeSelect!=14">
                    <label class="col-sm-4 control-label input-sm" for="acreage">Acreage
                    </label>
                    <input class="form-control input-sm" formControlName="acreage" id="acreage" placeholder="Acreage"
                           type="number">
                  </div>
                </div>
                <div class="col-xl-2">
                </div>
              </div>

              <div class="row">
                <div class="col-xl-4">
                </div>
                <div class="col-xl-4">
                  <div class="form-group">
                    <label class="col-sm-6 control-label input-sm" for="titleDeedNumber">Title Deed Number</label>
                    <input class="form-control input-sm" formControlName="titleDeedNumber" id="titleDeedNumber"
                           placeholder="Title Deed Number" type="text">
                  </div>
                </div>

                <div class="col-xl-4">
                </div>
              </div>

            </div>
          </section>

          <section>
            <h5 class="mb-10 font-weight-bold text-dark text-center">Owner Details</h5>
            <hr style="width: 35%">

            <div class="panel-body">
              <div class="row">
                <div class="col-xl-2">
                </div>
                <div class="col-xl-4">
                  <div class="form-group">
                    <label class="col-sm-4 control-label input-sm" for="name">Name</label>
                    <input class="form-control input-sm" formControlName="name" id="name"
                           placeholder="name" type="text">
                  </div>
                </div>

                <div class="col-xl-4">
                  <div class="form-group">
                    <label class="col-sm-4 control-label input-sm" for="krapin">KRA PIN </label>
                    <input class="form-control input-sm" formControlName="krapin" id="krapin"
                           placeholder="krapin" type="text">
                  </div>
                </div>
                <div class="col-xl-2">
                </div>
              </div>

              <div class="row">
                <div class="col-xl-2">
                </div>
                <div class="col-xl-4">
                  <div class="form-group">
                    <label class="col-sm-4 control-label input-sm"
                           for="nationalIdNumber">National ID Number</label>
                    <input class="form-control input-sm" formControlName="nationalIdNumber"
                           id="nationalIdNumber" placeholder="nationalIdNumber"
                           type="text">
                  </div>
                </div>

                <div class="col-xl-4">
                  <div class="form-group">
                    <label class="col-sm-4 control-label input-sm"
                           for="nationalIdNumber">Phone Number
                    </label>
                    <input class="form-control input-sm" formControlName="phone"
                           id="phone" placeholder="phone"
                           type="text">
                  </div>
                </div>
                <div class="col-xl-2">
                </div>
              </div>

              <div class="row">
                <div class="col-xl-2">
                </div>
                <div class="col-xl-4">
                  <div class="form-group">
                    <label class="col-sm-4 control-label input-sm" for="address">Address</label>
                    <input class="form-control input-sm" formControlName="address" id="address"
                           placeholder="Address" type="text">
                  </div>
                </div>

                <div class="col-xl-4">
                  <div class="form-group">
                    <label class="col-sm-4 control-label input-sm" for="postal code">Postal
                      Code</label>
                    <input class="form-control input-sm" formControlName="code" id="postal code"
                           placeholder="Address" type="text">
                  </div>
                </div>
                <div class="col-xl-2">
                </div>
              </div>

            </div>
          </section>
          <section>
            <div class="panel-heading input-sm">

              <h5 class="mb-10 font-weight-bold text-dark text-center">Land Location Details</h5>
              <hr style="width: 35%">

            </div>
            <div class="panel-body">

              <div class="row">
                <div class="col-xl-2">
                </div>
                <div class="col-xl-4">
                  <div class="form-group">
                    <label class="control-label">Sub County <strong
                      style="color:red">*</strong></label>
                    <ng-select [items]="region1"
                               bindLabel="subCountyName"
                               bindValue="subCountyId"
                               formControlName="subcountyId">
                    </ng-select>
                  </div>
                </div>

                <div class="col-xl-4">
                  <div class="form-group">
                    <label class="control-label">Ward <strong style="color:red">*</strong></label>
                    <ng-select *ngIf="region1" [items]="ward1"
                               bindLabel="wardName"
                               bindValue="wardId"
                               formControlName="wardId">
                    </ng-select>
                  </div>
                </div>
                <div class="col-xl-2">
                </div>
              </div>
            </div>
          </section>

          <div class="form-group">
            <div class="btn-group-sm mt-4 mb-2 text-center">
              <button type="submit" *ngIf="appEditMode && appDetailMode "  (click) ="updateLand()" class="btn btn-success mr-2"><span class="glyphicon glyphicon-arrow-right"> Renew </span></button>
              <button type="button" class="btn btn-warning input-sm"
                      style="width: 100px" (click)="cancel()">
                <span class="glyphicon glyphicon-remove"> Cancel </span>
              </button>
            </div>
          </div>

        </section>

      </form>
    </div>




  </div>

</block-ui>
